* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
:root{
    --color:#007bff;
 }
.page nav{
    background-color: rgba(255, 255, 255, .3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    /* height: 90px; */
    z-index: 100; /* reverse */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.page nav .links {
    list-style-type: none;
    display: flex;
    color: black;
    padding: 0px;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.page nav ul li a {
    font-size: 24px;
    color: black;
    text-decoration: none;
    text-transform: capitalize;
    display: block;
    padding: 10px 20px;
}
.page nav .brand {
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: block;
    font-size: 30px;
}
/*hover of barsite*/
.page nav ul li a:hover{
    color: var(--color);
}
/* style landing bage */
.page .landing {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    height: 100vh;
    text-transform: capitalize;
    background-image: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),url(../R.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.page .landing .content {
    width: 600px;
    max-width: 100%;
    padding: 35px;
}
.page .landing .content h1 {
    font-size: 64px;
    letter-spacing: 4px;
    margin-bottom: 10px;
}
.page .landing .content p {
    font-size: 17px;
    line-height: 1.7;
    margin-bottom: 50px;
}
.page .landing .content .button {
    padding: 16px 32px;
    cursor: pointer;
    font-size: 24px;
    background-color: #c0a080;
    color: white;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
    animation: size 2s linear infinite paused;
    -webkit-animation: size 2s linear infinite paused;
}
.page .landing .content .button:hover {
    background-color: #a67b5b;
    animation-play-state: running;
}
@keyframes size {
    0% , 100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        opacity: 1;
    }
    50%{
        transform: scale(1.3);
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -ms-transform: scale(1.3);
        -o-transform: scale(1.3);
        opacity: .5;
    }
}
/* footer */
.page .landing .bosh {
    position: absolute;
    color: white;
    display: flex;
    bottom: 0;
    right: 0;
    padding: 5px;
    font-size: 15px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;

}
/* mobile */
@media (max-width:767px) {
    .page nav {
        flex-direction: column;
    }
    .page nav ul {
        flex-direction: column;
        gap: 5px;
        margin-bottom: 0px;
    }
    .page .landing .content h1{
        font-size: 22px;
        margin-top: 150px   ;
    }
    .page .landing .content p{
        font-size: 14px;
    }
}